body{
    font-family: Verdana;
}
.card{
    display:flex;
    width: 400px;
    color:#2b2839;
    padding:20px;
    justify-content:space-around;
    margin:30px auto;
    text-align: center;
    line-height:1.3cap;
    border-bottom:10px solid #d8cefe;
    background-color: #ddebf8;
 
}
.imgine
{
    width:150px; 
    height: 150px;
}

