 body{
    color:#025289;
    text-align:center;
    font-family: "Orbitron", serif;
    margin:0;
  }
.btn
{   
    background-color:white ;
    padding:10px 20px ;
    border:none;
    font-family: "Orbitron", serif;
    color:#025289;
    font-weight: 800;
    
} 
#hero{
    background-size:cover ;
    background-image: url("/images/galaxygif.gif");
    padding:10px 0 40px 0;
}
/*scrisuri speciale 2met @font-face{
    src:url("Corleone.ttf");
    font-family:nasul;
}
h2{
    font-family:nasul;
} */
.underline
{
    border-bottom: 4px solid white;
}
#main-logo
{width:100px;
     
}
#title
{
    text-shadow:0px 0px 6px white;
}